@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Caveat:wght@600&family=Quicksand:wght@500&display=swap');

@layer base {
  body {
    @apply bg-home;
    @apply font-[Quicksand];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.major-content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 30rem;
}

@media (max-width: 640px) {
  .major-content-div {
    height: 22rem;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    #557C55,
    #A6CF98
  ) !important;
}

.react-tabs__tab--selected {
  background: #557C55 !important;
  border-color: transparent !important;
  color: #F2F2F2 !important;
}

.react-tabs__tab {
  color: #F2F2F2 !important;
}